{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
  <h2>Edit Patient</h2>

  <form method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="mb-3">
      <label class="form-label">First name</label>
      {{ form.first_name }}
    </div>

    <div class="mb-3">
      <label class="form-label">Last name</label>
      {{ form.last_name }}
    </div>

    <div class="mb-3">
      <label class="form-label">Age</label>
      {{ form.age }}
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      {{ form.email }}
    </div>

    <div class="mb-3">
      <label class="form-label">Phone</label>
      {{ form.phone }}
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a href="{% url 'patient_list' %}" class="btn btn-secondary">Back</a>

  </form>
</div>

{% endblock %}